# Dependencies
node_modules/
.gradle/
build/
*.iml
.idea/
local.properties

# OS
.DS_Store
Thumbs.db

# Capacitor
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Cache
.gradle/